# common
/target
/build
/bin
.DS_Store

# IntelliJ IDEA
**/.idea/*
!**/.idea/codeStyles
!**/.idea/inspectionProfiles
!**/.idea/encodings.xml
!**/.idea/misc.xml
!**/.idea/saveactions_settings.xml
**/*.iml
/out
